.container {
    width: 34rem;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
.firstSection {
    width: 100%;
    height: 55px;
    background: #3B3C51;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.59px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    border-top-left-radius: 0.75rem;
}
.secondSection {
    width: 100%;
    height: 600px;
    background: #FFFFFF;
    padding: 1.25rem 1.25rem 16.375rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.urlContainer, .remarksContainer, .linkExpireContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.urlContainer {
    height: 100px;
}
.remarksContainer {
    height: 194px;
}
.linkExpireContainer {
    height: 80px;
    margin-top: 10px;
}
.label {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3B3C51;
}
.input {
    width: 100%;
    padding: 8px 0px 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #3B3C51;
    border: 1px solid #D1D5DB;
    margin-bottom: 2px;
}
.textarea {
    width: 100%;
    padding: 8px 0px 8px 12px;
    border-radius: 4px;
    border: 1px solid #D1D5DB;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    font-family: Manrope;
    color: #3B3C51;
}
.showDate {
    color: #343446;
    font-size: 16px;
    font-weight: 400;
    font-family: Manrope;
    outline: none;
    width: 100%;
    padding: 8px 0px 8px 12px;
    border-radius: 4px;
    border: 1px solid #D1D5DB;
    margin-bottom: 2px;
}
.errorContainer {
    width: 100%;
    margin-top: 5px;
}
.errorMessage {
    height: 20px;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.39px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FF0101;
}
.errorMessage:empty {
    visibility: hidden;
}
.input:focus {
    outline: none;
}
.input::placeholder {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #A0A0A0;
}
.toggleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.thirdSection {
    height: 66px;
    background: #3B3C511A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
    border-bottom-left-radius: 0.75rem;
}
.clear {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3B3C51;
    cursor: pointer;
}
.createNew {
    background: #1B48DA;
    border-radius: 6px;
    padding: 10px 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
.date {
    position: absolute;
    top: 9px;
    right: 9px;
}

/*        responsiveness             */
@media screen and (max-width:426px) {
    .container {
        width: 100%;
        margin: 0rem 1rem;
    }
    .secondSection {
        height: 500px;
    }
    .thirdSection {
        background: #808080fc;
    }
    .clear {
        color: white;
    }
}
@media (min-width:425px) and (max-width:1024px) {
    .secondSection {
        height: 500px;
    }
    .thirdSection {
        background: #808080fc;
    }
    .clear {
        color: white;
    }
}