.sidebarContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid #F6F6F9;
    background-color: #FFFFFFE8;
    overflow-x: hidden; 
}
.iconContainer {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.iconContainer div {
    width: 90%;
    padding: 0px 10px;
}
.navigationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navigationContainer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 42px;
    padding: 0px 10px;
    transition: background-color 0.3s;
}
.navigationContainer div img {
    margin-right: 5px;
    transition: color 0.3s;
}
.navigationContainer div button {
    font-weight: 600;
    font-size: 16px;
    color: #3B3C51;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s;
}
.navigationContainer div:nth-child(1) {
    margin-top: 16px;
}
.navigationContainer div:nth-child(3) {
    margin-bottom: 16px;
}
.settingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border-top: 1px solid #F6F6F9;
    border-bottom: 1px solid #F6F6F9;
}
.settingContainer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 39px;
    padding: 0px 10px;
    transition: background-color 0.3s;
}
.settingContainer > div > img {
    margin-right: 5px;
    transition: color 0.3s;
}
.settingContainer > div > button {
    font-weight: 600;
    font-size: 16px;
    color: #3B3C51;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s;
}
/* Active button styles */
.active {
    background-color: #EFF6FF;
    border-radius: 8px;
}
/* Change SVG color */
.active img {
    filter: invert(23%) sepia(65%) saturate(800%) hue-rotate(200deg) brightness(95%) contrast(100%);
}
/* Change button text color */
.active button span {
    color: #1B48DA;
}

/*                  responsivenss               */
/* Mobile devices (320px to 426px) */
@media screen and (max-width: 426px) {
    .sidebarContainer {
        flex-direction: row;
        align-items: center;
        height: auto;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .iconContainer {
        display: none;
    }
    .navigationContainer {
        flex-direction: row;
        height: 50px;
        border-bottom: none;
    }
    .navigationContainer div:nth-child(1) {
        margin-top: 0px;
    }
    .navigationContainer div:nth-child(3) {
        margin-bottom: 0px;
    }
    .settingContainer {
        height: 50px;
        border-bottom: none;
    }
    .settingContainer div {
        width: 100%;
    }
}
/* Tablets (426px to 768px) */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .sidebarContainer {
        flex-direction: row;
        align-items: center;
        height: auto;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .iconContainer {
        display: none;
    }
    .navigationContainer {
        flex-direction: row;
        height: 50px;
        border-bottom: none;
    }
    .navigationContainer div:nth-child(1) {
        margin-top: 0px;
    }
    .navigationContainer div:nth-child(3) {
        margin-bottom: 0px;
    }
    .settingContainer {
        height: 50px;
        border-bottom: none;
    }
    .settingContainer div {
        width: 100%;
    }
}
